@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300i,400,400i');


html,
body,
header,
#intro {
    height: 100%;
}/*
.bg-fundo {
	background-color: rgb(75, 75, 126) ;
	opacity: 0.8;
	transition: all 0.2s;
}*/
.nav-link {
	color: white !important;
	opacity:none;
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

/*.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
/* ---------------------------------------*/            
.navbar.compressed {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #060c14;
	color: white;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	transition: all 2s;
	margin-bottom: 10px;
}

.headingTitle {
  padding-top: 260px;
  font-weight: 500 !important;
  font-size: 5rem !important;
}

.subText {
  font-size: xx-large;
}

.fa-camera-retro {
  color: rgb(255, 83, 4) !important;
}

.blog{
  width: 98px;
  height: 98px;
  border-radius: 5px;
}

.e-comerce {
 width: 98px;
 height: 98px;
 border-radius: 5px; 
}

.institucional {
  width: 98px;
 height: 98px;
 border-radius: 5px; 
}



